<%- include('../partials/head') %>
<% layout('layouts/layout') %>


<h1>Register</h1>

<form action="/account/register" method="post" novalidate>
  <div>
    <label for="account_firstname">First Name</label><br />
    <input
      type="text"
      id="account_firstname"
      name="account_firstname"
      value="<%= typeof account_firstname !== 'undefined' ? account_firstname : '' %>"
      required
    />
  </div>

  <div>
    <label for="account_lastname">Last Name</label><br />
    <input
      type="text"
      id="account_lastname"
      name="account_lastname"
      value="<%= typeof account_lastname !== 'undefined' ? account_lastname : '' %>"
      required
    />
  </div>

  <div>
    <label for="account_email">Email</label><br />
    <input
      type="email"
      id="account_email"
      name="account_email"
      value="<%= typeof account_email !== 'undefined' ? account_email : '' %>"
      required
    />
  </div>

  <div>
    <label for="account_password">Password</label><br />
    <input
      type="password"
      id="account_password"
      name="account_password"
      required
    />
  </div>

  <% if (errors && errors.length > 0) { %>
    <div style="color: red;">
      <ul>
        <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>

  <button type="submit">Register</button>
</form>

