<%- include("../partials/head") %>
<%- include("../partials/header") %>
<%- include("../partials/navigation") %>

<main>
  <h1><%= vehicle.inv_make %> <%= vehicle.inv_model %></h1>
  
  <div class="vehicle-detail">
    <img src="<%= vehicle.inv_image %>" alt="Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %>">
    
    <ul>
      <li><strong>Price:</strong> $<%= new Intl.NumberFormat("en-US").format(vehicle.inv_price) %></li>
      <li><strong>Description:</strong> <%= vehicle.inv_description %></li>
      <li><strong>Color:</strong> <%= vehicle.inv_color %></li>
      <li><strong>Miles:</strong> <%= new Intl.NumberFormat("en-US").format(vehicle.inv_miles) %> miles</li>
    </ul>
  </div>
</main>

<%- include("../partials/footer") %>
