<% layout('layouts/layout') -%>

<main>
  <h1><%= vehicle.inv_make %> <%= vehicle.inv_model %> Details</h1>

  <div class="vehicle-detail-container">
    <div class="vehicle-detail-image">
      <img src="/images/vehicles/<%= vehicle.inv_image %>" alt="Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %>" />


    </div>

    <div class="vehicle-detail-info">
      <p><strong>Price:</strong> $<%= new Intl.NumberFormat().format(vehicle.inv_price) %></p>
      <p><strong>Description:</strong> <%= vehicle.inv_description %></p>
      <p><strong>Color:</strong> <%= vehicle.inv_color %></p>
      <p><strong>Miles:</strong> <%= new Intl.NumberFormat().format(vehicle.inv_miles) %></p>
    </div>
  </div>
</main>